<md-dialog aria-label="Settings" class="settings" ng-cloack>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>Settings</h3>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content class="md-dialog-content">
      <div layout="row">
        <md-input-container flex>
          <label>Server</label>
          <input ng-model="model.server" id="server" />
        </md-input-container>

        <md-input-container flex="25">
          <label>Port</label>
          <input ng-model="model.port" type="number" id="port" />
        </md-input-container>
      </div>
      <div layout="row">
        <span class="error">{{error}}</span>
        <span flex></span>
        <md-button ng-click="cancel()" class="md-primary md-warn">Cancel</md-button>
        <md-button ng-click="save()" class="md-primary">Save</md-button>
      </div>
    </md-content>    
  </md-dialog-content>
</md-dialog>
