<!DOCTYPE html>

<html>
  <head>
    <title>WODPrep Video Downloader</title>

    <base href="/">

    <script src="../app/assets/javascripts/libs/jquery.js"></script>
    <script src="../app/assets/javascripts/libs/angular.js"></script>
    <script src="../app/assets/javascripts/libs/angular-animate.js"></script>
    <script src="../app/assets/javascripts/libs/angular-aria.js"></script>
    <script src="../app/assets/javascripts/libs/angular-material.js"></script>
    <script src="../app/assets/javascripts/libs/moment.js"></script>

    <script src="../app/assets/javascripts/app/app.js"></script>    
    <script src="../app/assets/javascripts/app/controllers.js"></script>
    
    <link rel="stylesheet" type="text/css" href="../app/assets/stylesheets/libs/angular-material.css">
    <link rel="stylesheet" type="text/css" href="../app/assets/stylesheets/app.css">
  </head>
  <body ng-app="wodprop-video-downloader" ng-controller="AppController">

    <ng-include src="'app/views/topbar.html'"></ng-include>
    <ng-include src="'app/views/main-content.html'"></ng-include>
    
  </body>
</html>
